[General]
server_address = #you would give the ip address of whereever your server is running
server_port = #port from which server API is being accessed

[Spotify]
SPOTIFY_CLIENT_ID = "your_spotify_key"
SPOTIFY_CLIENT_SECRET = "your_spotify_secret"
USER="your_spotify_user_id"
